body {
  background-color: rgb(244,67,54);
}
.pad-all {
  padding-top: 235px;
}
.text-up {
  text-transform: uppercase;
  color: white;
}
.size-change {
  font-size: 72px;
}
.s-button {
  border-color: white;
  border-radius: 1px;
  background-color: transparent;
}
.s-button:hover {
  color: white;
}
.m-button {
  border-color: white;
  border-radius: 1px;
  background-color: transparent;
  display: inline-block;
}
.center-row {
  vertical-align: middle;
  margin: 0 auto;
}
